body {
  background-image: url("../images/galaxy.jpg");
}
h1,
h3,
span {
  font-weight: bold;
  text-align: center;
  color: red;
}
h1 {
  font-size: 30pt;
}
h2 {
  color: ;
}
ol {
  list-style: decimal inside;
}
ul {
  list-style: disc inside;
  text-indent: 20px;
}
.gameName {
  font-family: "Monoton", cursive;
}

/* Classes */

.gems {
  clear: both;
}
.gemImage {
  height: 60px;
  margin: 10px;
}
/* IDs */
#blue {
  color: #3092c7;
}
#green {
  color: #00aa59;
}
#red {
  color: #ec4b5f;
}
#yellow {
  color: #ffc225;
}
